/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /*input kode here*/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /*input kode here*/
  .header {
    /* //header-bg */ }
    .header .header-top-bg {
      /* //header-container */ }
      .header .header-top-bg .header-top-container {
        /* //header-row */ }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right {
          /**wrapper*/
          /*right btn*/ }
          .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right div.header-top-col-right__phone_wrapper {
            vertical-align: middle; }
            .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right div.header-top-col-right__phone_wrapper [class*="header-top-col-right__phone"] {
              display: block; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*input kode here*/
  .header {
    /* //header-bg */ }
    .header .header-top-bg {
      /* //header-container */ }
      .header .header-top-bg .header-top-container {
        /* //header-row */ }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col-left .logo-lg {
          display: none; }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col-left img.top-menu-mobile, .header .header-top-bg .header-top-container .header-top-row .header-top-col-left img.logo-mb {
          display: inline-block;
          vertical-align: middle;
          margin-left: 15px; }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right {
          display: inline-block;
          text-align: center;
          /**wrapper*/
          /*right btn*/ }
          .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right div.header-top-col-right__phone_wrapper [class*="header-top-col-right__phone"] {
            font-size: 14px; }
          .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right .header-top-col-right__btn {
            display: inline-block;
            text-align: left; }
            .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right .header-top-col-right__btn button.btn span.lg-screen {
              display: none; }
  .section1 {
    /* //section-bg */ }
    .section1 .section1-top-bg {
      /* //section-container */ }
      .section1 .section1-top-bg .section1-top-container {
        /* //section-row */ }
        .section1 .section1-top-bg .section1-top-container .section1-top-row .section1-top-col .section1-top-col-left {
          display: none; }
        .section1 .section1-top-bg .section1-top-container .section1-top-row .section1-top-col-right .section1-top-col-right_items {
          text-align: center; }
          .section1 .section1-top-bg .section1-top-container .section1-top-row .section1-top-col-right .section1-top-col-right_items h1 {
            display: inline-block;
            font-size: 22px;
            color: #ff9d00; }
          .section1 .section1-top-bg .section1-top-container .section1-top-row .section1-top-col-right .section1-top-col-right_items span {
            text-align: center; } }

/*Disable Animation on Mobile Devices*/
/* Extra Small Devices, Phones */
@media only screen and (max-width: 560px) {
  /* //header */ }

@media only screen and (max-width: 480px) {
  /*input kode here*/
  .header {
    /* //header-bg */ }
    .header .header-top-bg {
      /* //header-container */ }
      .header .header-top-bg .header-top-container {
        /* //header-row */ }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col-left .logo-lg {
          display: none; }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col-left img.top-menu-mobile, .header .header-top-bg .header-top-container .header-top-row .header-top-col-left img.logo-mb {
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px !important; }
        .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right {
          display: inline-block;
          text-align: center;
          /**wrapper*/
          /*right btn*/ }
          .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right div.header-top-col-right__phone_wrapper [class*="header-top-col-right__phone"] {
            font-size: 14px; }
          .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right .header-top-col-right__btn {
            display: inline-block;
            text-align: left; }
            .header .header-top-bg .header-top-container .header-top-row .header-top-col .header-top-col-right .header-top-col-right__btn button.btn span.lg-screen {
              display: none; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  /*input kode here*/ }

/*==========  Mo`ile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /*input kode here*/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /*input kode here*/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /*input kode here*/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /*input kode here*/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /*input kode here*/ }
