//COLORS
$white: #ffffff;
$whiteBlue: #c0edf2;
$whiteGrey:#fdfdfd;
$black: #111;
$grey: #ccc;
$red: #FE6246;
$button-bg: #ff9d00;

$accent: #7fc5cb;
$overlay: #efefef;

//FONTS
$font-family: 'TTHovesLight';
$font: #373737;
$font_sz: 16px;

//URL relative to the style.css
$font-folder: '../fonts/';
$img-folder: '../img/';

$pie-url: #{pie-htc-url};
$pie-htc-url: url(../ie8-support/PIE.htc); //url must be absolute or relative to the html document!
$bg-size-cover: url(../ie8-support/backgroundsize.min.htc) ;//url must be absolute or relative to the html document!
//read more:
//  * https://github.com/louisremi/background-size-polyfill
//  * http://css3pie.com

